<h1>Make an appointment</h1>

<p>Please, chose date and time</p>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Your Name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name" value="<%= @username %>">
  </div>

  <div class="form-group">
    <label>Your Phone</label>
    <input id="aaa" name="phone" type="text" class="form-control" placeholder="Enter your
    phone" value="<%= @phone %>">
  </div>

  <div class="form-group">
    <label>Date and Time</label>
    <input name="date_time" type="text" class="form-control" placeholder="Enter Date and Time" value="<%= @datetime %>">
  </div>

  <div class="form-group">
    <label>Chose your Barber!!!</label>
    <select name="barber" class="form-control">
      <option>Walter White</option>
      <option>Jessie Pinkman</option>
      <option>Gus Fring</option>
      <option>John Doe</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<script>
//  $(function() {
//      $('.form-control').css('background-color', 'blue');
//  });
</script>
